{% extends "base.html" %}

{% block title %}Player Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if player %}
        <h1 class="mb-4">Player Detail: {{ player['Name'] if 'Name' in player else player['display_name'] if 'display_name' in player else 'Unknown' }}</h1>
        <ul class="list-group">
        {% for key, value in player.items() %}
            <li class="list-group-item"><strong>{{ key }}:</strong> {{ value }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <h2>Player not found.</h2>
    {% endif %}
</div>
{% endblock %} 